VITE_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=YOUR_PROJECT_ID
VITE_APPWRITE_DATABASE_ID=YOUR_DATABASE_ID
VITE_APPWRITE_VIDEOS_COLLECTION_ID=videos
VITE_APPWRITE_PROJECTS_COLLECTION_ID=projects
VITE_APPWRITE_CONTENTS_COLLECTION_ID=portfolio_contents
VITE_APPWRITE_SETTINGS_COLLECTION_ID=site_settings
VITE_APPWRITE_SOCIAL_LINKS_COLLECTION_ID=social_links
VITE_APPWRITE_NAVIGATION_LINKS_COLLECTION_ID=navigation_links
VITE_APPWRITE_YOUTUBE_CHANNELS_COLLECTION_ID=youtube_channels
VITE_APPWRITE_MEDIA_BUCKET_ID=portfolio_media
VITE_APPWRITE_INTEGRATIONS_FUNCTION_ID=YOUR_FUNCTION_ID
